html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#viewport {
  display: block;
  margin: auto;
  max-width: 1000px;
  max-height: 1000px;
  border: 1px solid black;
  background: lightgray;
  padding: 10px;
}