:root {
    --win-height: 100%;
    --win-min: 100vmin;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  height: var(--win-height);
}

body {
  display: flex;
  justify-content: center;
}

#viewport {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: var(--win-min);
  height: var(--win-min);
  max-width: 622px;
  max-height: 622px;
  border: 1px solid black;
  background: lightgray;
  padding: 10px;
}