html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#viewport {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100vmin;
  height: 100vmin;
  max-width: 622px;
  max-height: 622px;
  border: 1px solid black;
  background: lightgray;
  padding: 10px;
}